.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.rightButton {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}

.rightButton:hover {
  background-color: #e8e8e8;
  cursor: pointer;
  border-radius: 4px;
}
