.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 12px;
}

.title {
  justify-self: center;
}

.iconButton {
  background: transparent;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.iconButton:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
